<!DOCTYPE html>
<html lang=en>
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    make me bigger
    <br>
    {{ "make me bigger" | uppercaseWords }}
    <br><br>
    This service class will then be injected
    in the twig extension. Then create a controller called Ex03Controller with an action
    extensionAction and route /ex03 and a template ex03.html.twig
    <br>
    {{ countNumbers('abcdefg1234') }}
</body>
</html>